# How much does activity level effect sleep time?

In [1]:
import pandas as pd

In [2]:
daily_activity = pd.read_csv("Fitness  Data\dailyActivity_merged.csv")
sleep_activity_daily = pd.read_csv("Fitness  Data\sleepDay_merged.csv")
weight_log = pd.read_csv("Fitness  Data\weightLogInfo_merged.csv")
heart_rate = pd.read_csv("Fitness  Data\heartrate_seconds_merged.csv")

In [3]:
daily_activity.Id.unique()

array([1503960366, 1624580081, 1644430081, 1844505072, 1927972279,
       2022484408, 2026352035, 2320127002, 2347167796, 2873212765,
       3372868164, 3977333714, 4020332650, 4057192912, 4319703577,
       4388161847, 4445114986, 4558609924, 4702921684, 5553957443,
       5577150313, 6117666160, 6290855005, 6775888955, 6962181067,
       7007744171, 7086361926, 8053475328, 8253242879, 8378563200,
       8583815059, 8792009665, 8877689391], dtype=int64)

In [4]:
daily_activity.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.50,8.50,0.0,1.88,0.55,6.06,0.0,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.97,6.97,0.0,1.57,0.69,4.71,0.0,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.74,6.74,0.0,2.44,0.40,3.91,0.0,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.28,6.28,0.0,2.14,1.26,2.83,0.0,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.16,8.16,0.0,2.71,0.41,5.04,0.0,36,10,221,773,1863

In [5]:
daily_activity.ActivityDate.dtype

dtype('O')

In [6]:
daily_activity.index = pd.to_datetime(daily_activity['ActivityDate'])

In [7]:
daily_activity.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
ActivityDate,,,,,,,,,,,,,,,
2016-04-12,1503960366,4/12/2016,13162,8.50,8.50,0.0,1.88,0.55,6.06,0.0,25,13,328,728,1985
2016-04-13,1503960366,4/13/2016,10735,6.97,6.97,0.0,1.57,0.69,4.71,0.0,21,19,217,776,1797
2016-04-14,1503960366,4/14/2016,10460,6.74,6.74,0.0,2.44,0.40,3.91,0.0,30,11,181,1218,1776
2016-04-15,1503960366,4/15/2016,9762,6.28,6.28,0.0,2.14,1.26,2.83,0.0,29,34,209,726,1745
2016-04-16,1503960366,4/16/2016,12669,8.16,8.16,0.0,2.71,0.41,5.04,0.0,36,10,221,773,1863

In [8]:
daily_activity['ActivityDate'] = pd.to_datetime(daily_activity['ActivityDate'])

In [9]:
daily_activity.rename(columns={'ActivityDate':'Date'},inplace=True)

In [10]:
daily_activity.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 940 entries, 2016-04-12 to 2016-05-12
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        940 non-null    int64
 1   Date                      940 non-null    datetime64[ns]
 2   TotalSteps                940 non-null    int64
 3   TotalDistance             940 non-null    float64
 4   TrackerDistance           940 non-null    float64
 5   LoggedActivitiesDistance  940 non-null    float64
 6   VeryActiveDistance        940 non-null    float64
 7   ModeratelyActiveDistance  940 non-null    float64
 8   LightActiveDistance       940 non-null    float64
 9   SedentaryActiveDistance   940 non-null    float64
 10  VeryActiveMinutes         940 non-null    int64
 11  FairlyActiveMinutes       940 non-null    int64
 12  LightlyActiveMinutes      940 non-null    int64
 13  SedentaryMinutes          940 non-null    int64
 14  Calories                  940 non-null    int64
dtypes: datetime64[ns](1), float64(7), int64(7)
memory usage: 117.5 KB

In [11]:
sleep_activity_daily.head()

,Id,SleepDay,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
0,1503960366,4/12/2016 12:00:00 AM,1,327,346
1,1503960366,4/13/2016 12:00:00 AM,2,384,407
2,1503960366,4/15/2016 12:00:00 AM,1,412,442
3,1503960366,4/16/2016 12:00:00 AM,2,340,367
4,1503960366,4/17/2016 12:00:00 AM,1,700,712

In [12]:
sleep_activity_daily.index = pd.to_datetime(sleep_activity_daily['SleepDay'])
sleep_activity_daily['SleepDay'] = pd.to_datetime(sleep_activity_daily['SleepDay'])

In [13]:
sleep_activity_daily.head()

,Id,SleepDay,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
SleepDay,,,,,
2016-04-12,1503960366,2016-04-12,1,327,346
2016-04-13,1503960366,2016-04-13,2,384,407
2016-04-15,1503960366,2016-04-15,1,412,442
2016-04-16,1503960366,2016-04-16,2,340,367
2016-04-17,1503960366,2016-04-17,1,700,712

In [14]:
sleep_activity_daily.rename(columns={'SleepDay':'Date'},inplace=True)

In [15]:
sleep_activity_daily.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 413 entries, 2016-04-12 to 2016-05-04
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  413 non-null    int64
 1   Date                413 non-null    datetime64[ns]
 2   TotalSleepRecords   413 non-null    int64
 3   TotalMinutesAsleep  413 non-null    int64
 4   TotalTimeInBed      413 non-null    int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 19.4 KB

In [16]:
weight_log.head()

,Id,Date,WeightKg,WeightPounds,Fat,BMI,IsManualReport,LogId
0,1503960366,5/2/2016 11:59:59 PM,52.599998,115.963147,22.0,22.650000,True,1462233599000
1,1503960366,5/3/2016 11:59:59 PM,52.599998,115.963147,NaN,22.650000,True,1462319999000
2,1927972279,4/13/2016 1:08:52 AM,133.500000,294.317120,NaN,47.540001,False,1460509732000
3,2873212765,4/21/2016 11:59:59 PM,56.700001,125.002104,NaN,21.450001,True,1461283199000
4,2873212765,5/12/2016 11:59:59 PM,57.299999,126.324875,NaN,21.690001,True,1463097599000

In [17]:
weight_log.index = pd.to_datetime(weight_log['Date']).dt.date
weight_log['Date'] =  pd.to_datetime(weight_log['Date']).dt.date

In [18]:
weight_log.head()

,Id,Date,WeightKg,WeightPounds,Fat,BMI,IsManualReport,LogId
Date,,,,,,,,
2016-05-02,1503960366,2016-05-02,52.599998,115.963147,22.0,22.650000,True,1462233599000
2016-05-03,1503960366,2016-05-03,52.599998,115.963147,NaN,22.650000,True,1462319999000
2016-04-13,1927972279,2016-04-13,133.500000,294.317120,NaN,47.540001,False,1460509732000
2016-04-21,2873212765,2016-04-21,56.700001,125.002104,NaN,21.450001,True,1461283199000
2016-05-12,2873212765,2016-05-12,57.299999,126.324875,NaN,21.690001,True,1463097599000

In [19]:
weight_log.info()

<class 'pandas.core.frame.DataFrame'>
Index: 67 entries, 2016-05-02 to 2016-05-12
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              67 non-null     int64
 1   Date            67 non-null     object
 2   WeightKg        67 non-null     float64
 3   WeightPounds    67 non-null     float64
 4   Fat             2 non-null      float64
 5   BMI             67 non-null     float64
 6   IsManualReport  67 non-null     bool
 7   LogId           67 non-null     int64
dtypes: bool(1), float64(4), int64(2), object(1)
memory usage: 4.3+ KB

In [20]:
heart_rate.head()

           Id                  Time  Value
0  2022484408  4/12/2016 7:21:00 AM     97
1  2022484408  4/12/2016 7:21:05 AM    102
2  2022484408  4/12/2016 7:21:10 AM    105
3  2022484408  4/12/2016 7:21:20 AM    103
4  2022484408  4/12/2016 7:21:25 AM    101

In [21]:
heart_rate.rename(columns={'Time':'Date'},inplace=True)

In [22]:
heart_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2483658 entries, 0 to 2483657
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   Id      int64
 1   Date    object
 2   Value   int64
dtypes: int64(2), object(1)
memory usage: 56.8+ MB

In [23]:
dataframes = [
daily_activity, 
sleep_activity_daily, 
weight_log,
heart_rate
]
num_of_ids = []

for i in dataframes:
    num_of_ids.append(len(i['Id'].unique()))
print(num_of_ids)

[33, 24, 8, 14]

In [24]:
print(daily_activity['Id'].dtype)
print(daily_activity['Date'].dtype)

int64
datetime64[ns]

In [25]:
print(sleep_activity_daily['Id'].dtype)
print(sleep_activity_daily['Date'].dtype)

int64
datetime64[ns]

In [26]:
daily_activity_and_sleep = pd.merge(daily_activity,sleep_activity_daily, on=['Id','Date'])

In [27]:
daily_activity_and_sleep.head()

,Id,Date,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
0,1503960366,2016-04-12,13162,8.50,8.50,0.0,1.88,0.55,6.06,0.0,25,13,328,728,1985,1,327,346
1,1503960366,2016-04-13,10735,6.97,6.97,0.0,1.57,0.69,4.71,0.0,21,19,217,776,1797,2,384,407
2,1503960366,2016-04-15,9762,6.28,6.28,0.0,2.14,1.26,2.83,0.0,29,34,209,726,1745,1,412,442
3,1503960366,2016-04-16,12669,8.16,8.16,0.0,2.71,0.41,5.04,0.0,36,10,221,773,1863,2,340,367
4,1503960366,2016-04-17,9705,6.48,6.48,0.0,3.19,0.78,2.51,0.0,38,20,164,539,1728,1,700,712

In [28]:
daily_activity_and_sleep.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 413 entries, 0 to 412
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        413 non-null    int64
 1   Date                      413 non-null    datetime64[ns]
 2   TotalSteps                413 non-null    int64
 3   TotalDistance             413 non-null    float64
 4   TrackerDistance           413 non-null    float64
 5   LoggedActivitiesDistance  413 non-null    float64
 6   VeryActiveDistance        413 non-null    float64
 7   ModeratelyActiveDistance  413 non-null    float64
 8   LightActiveDistance       413 non-null    float64
 9   SedentaryActiveDistance   413 non-null    float64
 10  VeryActiveMinutes         413 non-null    int64
 11  FairlyActiveMinutes       413 non-null    int64
 12  LightlyActiveMinutes      413 non-null    int64
 13  SedentaryMinutes          413 non-null    int64
 14  Calories                  413 non-null    int64
 15  TotalSleepRecords         413 non-null    int64
 16  TotalMinutesAsleep        413 non-null    int64
 17  TotalTimeInBed            413 non-null    int64
dtypes: datetime64[ns](1), float64(7), int64(10)
memory usage: 61.3 KB

In [35]:
users_mean_metrics = daily_activity_and_sleep.groupby("Id").agg('mean')

C:\Users\mainf\AppData\Local\Temp\ipykernel_42752\1160851010.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  users_mean_metrics = daily_activity_and_sleep.groupby("Id").agg('mean')

In [37]:
users_mean_metrics

,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
Id,,,,,,,,,,,,,,,,
1503960366,12405.680000,7.971200,7.971200,0.000000,2.772000,0.847200,4.346000,0.000000,37.920000,20.280000,233.120000,759.280000,1872.280000,1.080000,360.280000,383.200000
1644430081,7967.750000,5.792500,5.792500,0.000000,0.175000,0.862500,4.750000,0.000000,2.500000,19.500000,241.250000,920.500000,2977.750000,1.000000,294.000000,346.000000
1844505072,3477.000000,2.303333,2.303333,0.000000,0.000000,0.086667,2.213333,0.000000,0.000000,2.333333,145.000000,443.333333,1676.333333,1.000000,652.000000,961.000000
1927972279,1490.000000,1.032000,1.032000,0.000000,0.000000,0.000000,1.032000,0.000000,0.000000,0.000000,85.000000,977.200000,2316.200000,1.600000,417.000000,437.800000
2026352035,5618.678571,3.487143,3.487143,0.000000,0.006786,0.012500,3.466429,0.000000,0.107143,0.285714,256.500000,653.964286,1540.785714,1.000000,506.178571,537.642857
2320127002,5079.000000,3.420000,3.420000,0.000000,0.000000,0.000000,3.420000,0.000000,0.000000,0.000000,242.000000,1129.000000,1804.000000,1.000000,61.000000,69.000000
2347167796,8533.200000,5.681333,5.681333,0.000000,0.729333,0.854667,4.098667,0.000000,9.200000,16.133333,245.866667,628.400000,1971.333333,1.000000,446.800000,491.333333
3977333714,11218.000000,7.676071,7.676071,0.000000,1.689643,2.747500,3.226786,0.000000,19.821429,61.285714,181.535714,716.214286,1560.392857,1.142857,293.642857,461.142857
4020332650,6596.750000,4.731250,4.731250,0.000000,0.486250,0.416250,3.770000,0.021250,15.000000,15.500000,218.500000,841.875000,3195.000000,1.000000,349.375000,379.750000
4319703577,7125.423077,4.785769,4.785769,0.000000,0.187308,0.499615,4.007692,0.000000,2.615385,12.307692,244.307692,642.692308,2024.692308,1.038462,476.653846,501.961538
4388161847,10974.708333,8.539167,8.539167,0.000000,2.040417,0.948750,5.550417,0.000000,26.833333,21.291667,238.625000,751.458333,3131.625000,1.291667,403.125000,426.208333
4445114986,4756.178571,3.217500,3.217500,0.000000,0.507857,0.073214,2.633929,0.000000,6.428571,1.714286,209.821429,787.321429,2183.142857,1.392857,385.178571,416.821429
4558609924,8139.000000,5.382000,5.382000,0.000000,0.734000,1.070000,3.578000,0.000000,19.800000,25.200000,268.000000,1028.400000,2197.000000,1.000000,127.600000,140.000000
4702921684,9226.357143,7.484286,7.484286,0.000000,0.437500,1.243214,5.796786,0.000000,5.357143,24.571429,262.214286,693.035714,3043.250000,1.071429,421.142857,441.964286
5553957443,8612.580645,5.639677,5.639677,0.000000,1.464194,0.669032,3.504516,0.000000,23.419355,13.000000,206.193548,668.354839,1875.677419,1.225806,463.483871,505.870968
5577150313,9260.076923,6.928462,6.928462,0.000000,3.463462,0.741538,2.707692,0.000000,97.884615,33.384615,164.961538,667.307692,3539.192308,1.038462,432.000000,460.615385
6117666160,8823.833333,6.695000,6.695000,0.000000,0.199444,0.096111,5.953889,0.000000,2.444444,2.444444,359.666667,531.944444,2460.833333,1.222222,478.777778,510.166667
6775888955,3499.000000,2.510000,2.510000,0.000000,0.660000,0.480000,1.370000,0.000000,10.333333,14.000000,82.666667,964.000000,2344.666667,1.000000,349.666667,369.000000
6962181067,9794.806452,6.585806,6.519355,0.323700,1.616452,0.960000,4.001613,0.006774,22.806452,18.516129,245.806452,662.322581,1982.032258,1.096774,448.000000,466.129032
7007744171,5115.500000,3.425000,3.425000,0.000000,0.000000,0.000000,3.425000,0.000000,0.000000,0.000000,220.000000,1148.500000,2150.500000,1.000000,68.500000,71.500000
7086361926,10290.500000,7.006667,7.006667,0.000000,3.069583,0.844583,3.077500,0.000000,47.458333,27.583333,158.958333,723.666667,2657.625000,1.000000,453.125000,466.416667
8053475328,19078.666667,15.016667,15.016667,0.000000,11.520000,0.580000,2.916667,0.000000,111.666667,13.000000,176.333333,837.333333,3309.333333,1.000000,297.000000,301.666667
8378563200,8832.937500,7.005000,7.005000,1.146657,2.583125,0.530000,3.890312,0.000000,60.500000,10.437500,155.625000,715.375000,3454.343750,1.125000,443.343750,483.312500
8792009665,3443.266667,2.203333,2.203333,0.000000,0.045333,0.109333,2.049333,0.000000,1.666667,7.266667,169.466667,807.800000,2299.333333,1.000000,435.666667,453.800000

In [ ]:
heart_rate.index = pd.to_datetime(heart_rate['Date'])

In [ ]:
heart_rate